@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0e15;
  font-family: Inknut Antiqua;
  color: whitesmoke;
  background-image: url(../assets/images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
