.gem {
  border-image: url(../assets/images/geme_frame.png) 50 50 stretch;
  background-size: 100% 100%;
  // border-color: #888;
  border-style: outset;
  border-width: 32px;
  background-position: center;
  margin: 10px 10px 10px 10px;
}
