.equipment-frame {
  border-image: url(../assets/images/geme_frame.png) 50 50 stretch;
  border-style: inset;
  border-width: 34px;
  background-position: center;
  margin: 10px 10px 10px 10px;
}

.panel {
  background-image: url(../assets/images/panel.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.tabs {
  background-image: url(../assets/images/tabs_panel.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
